name: Verify Build
on: [push]
jobs:
    Build:
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v2
            - run: sudo apt-get update
            - run: >
                sudo apt-get install python3-sympy texlive-latex-base \
                        texlive-latex-recommended texlive-latex-extra \
                        texlive-fonts-extra texlive-science
            - run: make draft stable release chisel
